# Node & Yarn
/node_modules
/.pnp
.pnp.js
.yarn/
*.log

# Turbo build cache
.turbo/

# Storybook build output
storybook-static/
packages/**/storybook-static/
apps/**/storybook-static/

# Next.js
.next/
apps/**/.next/
packages/**/.next/
out/
apps/**/out/

# Monorepo packages build
build/
dist/
packages/**/dist/
apps/**/build/

# Testing
coverage/

# Env files
.env*
*.pem

# Typescript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# IDEs
.DS_Store
.idea/
.vscode/
*.swp

# GitHub Actions debug
*.log
storybook.log